/* Styles for all */

* {
  font-family: "Merriweather", serif;
  margin: 0;
}

body {
  width: 1519px;
  /*fixed website*/
  margin: 0 auto;
}

/* Header Styles */
.banner-image {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner-Image.png");
  display: flex;
  border-radius: 16px;
  margin: 50px 140px 0px;
  width: 1320px;
  height: 600px;
}

.header-text-container {
  color: #fff;
  text-align: center;
}

.banner-message {
  font-size: 32px;
  font-weight: 400;
  padding-top: 177px;
}

.banner-title {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  padding-left: 344px;
  padding-right: 344px;
  margin-top: 16px;
}

/* Sale Section Styles */
.sale-section {
  margin-top: 120px;
}

.sale-text-container {
  text-align: center;
  font-family: Inter;
}

.sale-offer-title {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}
.sale-message {
  margin-top: 48px;
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}

.sale-cat-title {
  margin-top: 16px;
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}

.sale-image {
  margin-top: 48px;
  margin-left: 399px;
  margin-right: 399px;
}

/* Midnight Section Styles */
.midnight-image {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  display: flex;
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 120px 140px 0px;
  border-radius: 16px;
}

.midnight-title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding-top: 126px;
  padding-left: 126px;
}

.midnight-message {
  margin-top: 24px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 126px;
}

.midnight-join-now {
  margin-top: 48px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 158px;
}

.year-image {
  padding-top: 68px;
  padding-right: 138px;
}

/* Hotel Section Styles */
.hotel-bg {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  margin: 120px 140px 0px;
}

.hotel-details {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  padding-top: 100px;
  padding-right: 385px;
  padding-left: 385px;
  text-align: center;
}

.label-highlight {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.button-div {
  margin-top: 48px;
  padding-left: 576px;
  padding-right: 577px;
}

.join-now-button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  border: none;
}

/* Portfolio Section Styles*/

.portfolio-section {
  margin-top: 120px;
  margin-left: 140px;
  margin-right: 140px;
}

.portfolio-intro {
  color: #ff0000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.portfolio-title {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 16px;
}

.portfolio-message {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.portfolio-image-container {
  margin-top: 48px;
  border-radius: 16px;
}

.portfolio-table-col {
  padding: 0px 24px 24px 0px;
}

.portfolio-image:hover {
  transform: scale(1.3);
}

/* Subscribe Section Styles */
.subscribe-bg {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 1320px;
  height: 616px;
  margin: 120px 140px 0px;
}

.email-image {
  padding: 80px 585px 0px;
}

.subscribe-title {
  margin-top: 40px;
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.subscribe-message {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 22px;
  padding-left: 212px;
  padding-right: 212px;
}

.subscribe-button-div {
  margin-top: 48px;
  display: flex;
  margin-left: 336px;
  padding-right: 336px;
}

.subscribe-email {
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  border: none;
  padding: 25px 90px 25px;
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.subscribe-button {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 24px 56px;
}
